* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background-color: #f5f8ff;
}
/* shared styles */

.container {
  max-width: 1140px;
  margin: 0 auto;
}
:root {
  --primary-color: #e95a08;
}

.common-text {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
}
.common-p-text {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}
.span-common-color {
  color: var(--primary-color);
}
.card-img,
.deal-left img {
  width: 100%;
}

/* nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.nav-content {
  display: flex;
  align-items: center;
  gap: 48px;
}
.nav-ul {
  display: flex;
  gap: 48px;
}
ul .li a {
  text-decoration: none;
  color: #8987a1;
  font-family: Inter;
  font-weight: 400;
}
ul .li {
  list-style: none;
}
/* Banner */
.banner {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: 90px;
}
.banner h1 {
  color: #000;
  font-size: 65px;
  font-weight: 700;
  line-height: normal;
}

.banner p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  max-width: 570px;
}
/* mains section start*/
.main-section {
  margin-top: 120px;
}
.plant-heading {
  text-align: center;
  max-width: 888px;
  margin: 0 auto;
  margin-bottom: 49px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card h2 {
  color: #111;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  line-height: 150%;
}
.card h3 {
  color: #111;
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
}
.btn {
  background: var(--primary-color);
  display: flex;
  height: 50px;
  padding: 26px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  border: none;
}
.btn:hover {
  cursor: pointer;
}
/* flower plant */
.flower-plant-section {
  margin-top: 200px;
  margin-bottom: 133px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 60px;
}

.flower-plants-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.li2 {
  margin-bottom: 20px;
}
.flower-plant-left {
  position: relative;
  width: 50%;
}
.trusted-badge {
  position: absolute;
  width: 286px;
  height: 286px;
  right: -120px;
  top: -120px;
}
/* latest deal */
.latest-deal-heading {
  text-align: center;
  margin-bottom: 120px;
}
.deal-left {
  height: 400px;
}
.left-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../assets/deal-bloom.png);
  height: 187.5px;
  margin-bottom: 25px;
  background-size: cover;
  border-radius: 10px;
}
.left-2 {
  height: 187.5px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../assets/deal-ana.png);
  background-size: cover;
  border-radius: 10px;
}
.deal-right {
  height: 400px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../assets/deal-zabo.png);
  background-size: cover;
  border-radius: 10px;
}
.deal-content {
  display: grid;
  grid-template-columns: 360px auto;
  gap: 28px;
}
.left-1,
.left-2,
.deal-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.left-1 h2,
.left-2 h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.deal-right h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.shop-now {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-style: solid;
  padding: 13px 50px;
}
/* join section */

.join-section {
  height: 533px;
  background-image: url(../assets/news-letter-bg.png);
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 120px;
}

.join-form-content h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 23px;
}
.join-form-content input[type="email"] {
  width: 644px;
  height: 50px;
  padding: 8px 20px;
}
.join-form-content input[type="button"] {
  background: var(--primary-color);
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  width: 186px;
  height: 50px;
  border: none;
  position: relative;
  right: 5px;
}
.join-form-content input[type="button"]:hover {
  cursor: pointer;
}
/* footer start */
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  padding: 50px 160px;
  width: 100%;
  justify-content: space-between;
}
.footer-siteLogo {
  width: 359px;
  margin-bottom: 16px;
}
.important-links ul li {
  list-style: none;
  margin-bottom: 32px;
}
.important-links ul li a {
  text-decoration: none;
  color: #6b7280;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}
.important-links {
  display: flex;
  flex-direction: column;
}
.social-icons img {
  width: 36px;
  height: 36px;
}
.social-icons {
  display: flex;
  gap: 24px;
}
/* Responsive for mobile device */
@media screen and (max-width: 576px) {
  nav,
  .banner,
  .main-section {
    margin: 0 16px;
  }
  nav figure img {
    width: 63px;
    height: 38px;
  }

  .nav-ul {
    display: none;
  }
  .plant-our-section {
    margin-top: 65px;
  }
  /* banner */
  .banner {
    flex-direction: column-reverse;
  }
  .banner-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 28px;
  }
  .banner h1 {
    font-size: 24px;
  }
  .banner p {
    font-size: 14px;
    max-width: 400px;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 29px;
  }
  .card-img {
    height: 196.5px;
    align-self: stretch;
  }
  .card-content,
  .flower-plant-picture,
  .flower-plant-left,
  .deal-right img {
    width: 100%;
  }
  .flower-plants-content {
    width: 90%;
  }
  .btn {
    padding: 0;
  }
  /* flower plant */
  .trusted-badge {
    display: none;
  }

  .flower-plant-section {
    flex-direction: column;
    margin-top: 41px;
    gap: 18px;
  }
  /* deal  */
  .deal-content {
    grid-template-columns: 1fr;
  }
  .deal-right {
    height: 187.5px;
  }
  .deal-right h1 {
    font-size: 20px;
  }
  .latest-deal-heading {
    margin: 46px 0;
  }
  .flower-plant-section {
    margin-bottom: 0px;
  }
  /* join */
  .join-section {
    height: 275px;
    margin-top: 44px;
  }
  .join-form-content h1 {
    font-size: 20px;
  }
  .join-form-content input[type="email"] {
    width: 218px;
  }
  .join-form-content input[type="button"] {
    width: 103px;
  }
  /* footer */
  footer {
    padding: 50px 20px;
    flex-direction: column;
    gap: 20px;
  }
}
